body{
  background-image: url("/imagenes/fondo05.jpg");
}

#items-navegacion
{
    text-shadow: 1px 1px 2px rgb(248, 205, 169), 0 0 1em rgb(240, 77, 28), 0 0 0.2em rgb(241, 241, 245);
    color: rgb(60, 14, 224);
    font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}

th,td{
  text-align: center;
}
.botonera_y_paginacion{
  margin: auto;
  width: 50%;
  /* border: 0px solid green; */
  background: rgb(243, 218, 172);
  box-shadow: 10px 5px 5px rgb(49, 48, 48);
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}

.librosPrincipal{
  width: 18rem; 
  height:800px; 
  float:left; 
  border: solid 2px green;
}

#tabla-resultados{
  margin: auto;
  width: 100%;
}


/* algunas cosillas de Datatables */
.dataTables_filter input {
    align-items: center;
    width: 300px
  }
  .dataTables_filter input:focus {
    background-color: yellow;
  }
  
  .dt-button{
    margin-bottom: 5px;
  }
  
  /* .navbar{
    margin-left:-10px;
    margin-right:-30px;
    }
  
  .navbar-inner{
  padding-left:0;
  padding-right:0;
  }   */
  
  