#contenedor_formu{
    align-items: center;
    width: 90%;
    height: auto;
    /*background-color: red;*/
}
#titulo_formu{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    background-color: rgb(175, 175, 175);
    font-weight: bold;
    width: 100%;
    height: 55px;
}
#tabla_formu{
    align-items: center;
    width: 100%;

}
#tabla_interna{
    border: 1px;
    margin: 0 auto; 
    width: 100%;
}
td{
    border:1px solid;
    padding-left: 9px;
    font-weight: bold;
}
th{
    border-right:1px solid;
    border-bottom:1px solid;
    border-left:1px solid;
    padding-left: 9px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
#titulos_internos{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: rgb(175, 175, 175);
    font-weight: bold;

}

#espacio_firma{
    height: 300px;

}
#items-firma1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 25%; 
    width: 25%; 
    max-width: 30%; 
}
#items-firma2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: 74%; 
    width: 69%; 
    max-width: 74%; 
}
#problema1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 200px; 
    height: 200px; 
    max-width: 500px; 
}
#items-firma3{
    border-top:1px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
}
#espacio-firma{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 300px;
}

